/* MAIN NAVIGATION */
.main-header {
    background-color: #ffffff;
}

/* SIDEBAR */
.main-sidebar {
    background-color: #1b1b1b;
    padding-top: 80px;
}

.sidebar-menu li > a {
    color: #f1c40f;
}

.user-panel > .info > p {
    color: #f1c40f;
}


/* LOGIN PAGE */

/*logo*/
.login-logo, 
.register-logo {
    margin-bottom: 0px;
}

.login-page {
    background: #1b1b1b;
}


/* PROJECTS & SUBPROJECTS PAGE */
.view-projects .box,
.view-subprojects .box {
    margin-top: 20px;
}


/* Parsely Validation Styling*/
.parsley-errors-list {
    
}


/* Risk Registry */
/*Table*/
.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/*Button*/
.reg-btn {
    margin-bottom: 10px;
}

/* SETTINGS PAGE */
.panel-body h3 {
    margin-top: 0px;
}

/* FORMS */
.form-group .alert {
    margin-top: 8px;
    padding: 5px;
}


/* BOXES */
.box.box-yellow {
    border-top-color: #f39c12 !important;
}

/* Response Table */


/* CALL OUTS */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}