/* SIDEBAR */
.main-sidebar {
    background-color: #1b1b1b;
}

.sidebar-menu li > a {
    color: #f1c40f;
}

.user-panel > .info > p {
    color: #f1c40f;
}


/* LOGIN PAGE */

/*logo*/
.login-logo, 
.register-logo {
    margin-bottom: 0px;
}

.login-page {
    background: #1b1b1b;
}


/* PROJECTS / SUBPROJECTS PAGE */

.view-projects .box,
.view-subprojects .box {
    margin-top: 20px;
}


